$true-black: #000;
$black: #242D2A;
$white: #fff;
$white-gray: #f7f7f7;
$xx-light-gray: #efefef;
$x-light-gray: #e2e2e2;
$light-gray: #DADADA;
$gray: #979797;
$dark-gray: #494848;
$x-dark-gray: #2b2b2b;

$rainy-blue: #373799;
$sunny-yellow: #ffda26;

$primary-font-family: 'Avenir', 'sans-serif';
